@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/variables';
@import '/node_modules/bootstrap/scss/mixins/breakpoints';

$desktop: xl;

.content-main {
    padding: 89px 36px 36px 36px;

    .title {
        text-align: center;
        // line-height: 1.6;
        font-weight: bold;
        font-size: 1.5rem;
    }

    p {
        text-align: center;
        font-size: 16px;
    }

    .content {
        margin: 32px 0;
    }

    .mockup-img {
        width: 100%;
        height: auto;
    }

    @include media-breakpoint-up($desktop) {
        padding: 72px 20px;
        display: flex;
        align-items: center;

        .title {
            text-align: left;
            margin-right: 124px;
            font-size: 2rem;
        }

        p {
            text-align: left;
            font-size: inherit;
        }

        .description {
            display: inline-block;
            // margin-right: 80px;
            padding-right: 80px;
        }

        .mockup-container {
            display: inline-block;
        }

        .mockup-img {
            width: 680px;
            height: auto;
        }
    }
}

.getstarted {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 56px;

    @include media-breakpoint-up($desktop) {
        text-align: left;
    }

    .btn {
        color: white;
        padding: 12px 64px;
        font-size: 12px;
        font-weight: 700;

        &:hover {
            border-color: hsl(322, 100%, 80%);
            ;
            background-color: hsl(322, 100%, 80%);
        }
    }
}