.content-main {
    padding: 0 32px;
    padding-bottom: 32px;;

    h2 {
        margin: 32px 0;
    }

    .content {
        margin: 32px 0;
        
    }
}

.getstarted {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 56px;
    .btn {
        color: white;
        padding: 12px 64px;
        font-size: 12px;
        font-weight: 700;
    }
}

