@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/variables';
@import '/node_modules/bootstrap/scss/mixins/breakpoints';

$desktop: xl;

.footer {
    background-color: hsl(192, 100%, 9%);
    color: white;
    padding-bottom: 32px;
    padding-left: 12px;
    padding-right: 12px;

    .footer-container {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-menu {
        padding-left: 16px;
        padding-right: 16px;
    }

    svg {
        g {
            path {
                fill: white;
            }
        }
    }

    .bottom-menu {
        padding-top: 32px;

        .bm-link {
            padding-bottom: 16px;

            a {
                text-decoration: none;
                color: white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .copyright {
        font-size: 12px;
        padding-bottom: 32px;
        font-family: 'Poppins';
        font-weight: 600;
        text-align: center;
    }

    .footer-logo {
        padding-bottom: 28px;
        padding-top: 16px;
        padding-left: 0;
    }

    @include media-breakpoint-up($desktop) {
        .footer-logo {
            padding-top: 97px;
        }

        .copyright {
            text-align: right;
        }
    }
}

.subfooter {
    height: 97px;

    .card {
        text-align: center;
        border-radius: 16px;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 351px;
        top: -115px;
    }

    .card-body {
        padding: 40px 0;
    }

    .card-title {
        color: black;
        padding-bottom: 16px;
        font-size: 1.125rem;
    }

    .btn {
        color: white;
        padding: 12px 48px;
        font-size: 11px;
        font-weight: bold;

        &:hover {
            border-color: hsl(322, 100%, 80%);
            ;
            background-color: hsl(322, 100%, 80%);
        }
    }

    @include media-breakpoint-up($desktop) {
        .card {
            max-width: 800px;
            top: -179px;
        }

        .card-body {
            padding-top: 78px;
            padding-bottom: 52px;
        }

        .card-title {
            font-size: 2rem;
            padding-bottom: 0;
            margin-bottom: 39px;
        }

        .btn {
            font-size: 1rem;
        }
    }

}

.contact {
    position: relative;
    padding-left: 0;
    padding-right: 0;

    svg {
        position: absolute;
        top: 6px;
    }

    p {
        padding-left: 36px;
        font-size: 16px;
    }

    @include media-breakpoint-up($desktop) {
        p {
            font-size: inherit;
        }
    }
}

.footer-brands {
    position: relative;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 16px;

    a {
        display: inline-block;
        width: 36px;
        height: 36px;
        border: 1px solid white;
        margin: 8px 8px;
        padding: 4px 8px;
        text-align: center;
        border-radius: 48px;

        svg {
            color: white;
        }

        &:hover {
            border-color: hsl(322, 100%, 66%);

            svg {
                color: hsl(322, 100%, 66%);
            }
        }
    }
}