@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/variables';
@import '/node_modules/bootstrap/scss/mixins/breakpoints';

$desktop: xl;

.footer {
    background-color: hsl(192, 100%, 9%);
    color: white;
    padding-bottom: 32px;
    padding-left: 4px;
    padding-right: 4px;

    svg {
        g {
            path {
                fill: white;
            }
        }
    }

    .bottom-menu {
        padding-top: 32px;        
    }

    .copyright {
        font-size: 12px;
        padding-bottom: 32px;
        font-family: 'Poppins';
        font-weight: 600;
    }

    .footer-logo{
        padding-bottom: 28px;
    }

    // @include media-breakpoint-up($desktop) {
        
    // }
}

.subfooter {
    position: relative;
    height: 125px;

    .card {
        text-align: center;
        border-radius: 16px;        
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: -100px;
        margin: 0;
    }

    .card-body {
        padding: 40px 0;
    }

    .card-title {
        color: black;
        padding-bottom: 16px;
        font-size: 20px;
    }

    .btn {
        color: white;
        padding: 12px 48px;
        font-size: 11px;
        font-weight: bold;
    }

    @include media-breakpoint-up($desktop) {
        max-width: 700px;
        margin: auto;
        .card-title{
            font-size: 1.75rem;            
            padding-bottom: 16px;
        }

        .btn{
            font-size: 1rem;
        }
    }

}

.contact {
    position: relative;

    svg {
        position: absolute;
        top: 6px;
    }

    p {
        padding-left: 48px;
        font-size: 18px;
    }
}

.footer-brands {
    position: relative;
    text-align: center;
    padding-bottom: 16px;
    div {
        display: inline-block;
        border: 1px solid white;
        margin: 8px 8px;
        padding: 4px 8px;
        text-align: center;
        border-radius: 48px;
    }
}